<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content= "width=device-width, user-scalable=no">
    <title> Chronobiks </title>
    <link rel="apple-touch-icon" sizes="180x180" href="app/build/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="app/build/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="app/build/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="app/build/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="app/build/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Chronobiks">
    <meta name="application-name" content="Chronobiks">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="app/build/assets/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="title" content="Chronobiks">
    <meta name="description" content="This web app was created by @heychrono, this was his personal project called Chronobiks. Chrono, built this for himself and to others, this website application helps the Rubik’s beginners to gain an insight of their improvements">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://chronobiks.netlify.app/">
    <meta property="og:title" content="Chronobiks">
    <meta property="og:description" content="This web app was created by @heychrono, this was his personal project called Chronobiks. Chrono, built this for himself and to others, this website application helps the Rubik’s beginners to gain an insight of their improvements">
    <meta property="og:image" content="https://chronobiks.netlify.app/app/build/assets/cover.gif">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://chronobiks.netlify.app/">
    <meta property="twitter:title" content="Chronobiks">
    <meta property="twitter:description" content="This web app was created by @heychrono, this was his personal project called Chronobiks. Chrono, built this for himself and to others, this website application helps the Rubik’s beginners to gain an insight of their improvements">
    <meta property="twitter:image" content="https://chronobiks.netlify.app/app/build/assets/cover.gif">
    <link rel="stylesheet" href="app/build/style/main.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="go" class="go go--hide">
    <div class="modal__container modal--hide" id="modal">

        <div class="modal__heading">
            <h2>🎉 Hi, welcome to Chronobiks! </h2>
        </div>

        <div class="modal__message">
            <p>This web app was created by <a href="http://facebook.com/heychrono" target="_blank"
                    rel="noopener noreferrer"><b>@heychrono</b></a>, this was his personal project called
                <b>Chronobiks</b>. Chrono built this for himself and to others, this website application helps the
                Rubik’s beginners to gain an insight of their improvements.</p><br>

            <p class="highlight"><b>Note:</b> Your data will be stored in your browser, so if you clear your browser
                cache or uninstall your browser, your data will be lost permanently, this web app doesn’t gather any
                information about you, use it for free & give feedbacks for improvement.</p>
        </div>

        <div class="modal__cta">
            <button id="understand">I understand</button>
        </div>

    </div>

    <div class="sidebar--overlay sidebar--overlay--close"></div>

    <nav class="navbar">
        <div class="navbar__logo">
            <a href="index.html">
                <img src="app/build/assets/logo/chronobiks-logo.svg" alt="Chronobiks vector logo">
            </a>
        </div>

        <div class="navbar__menu">
            <button class="navbar__menu--button" id="open-button">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>

    <div class="sidebar">
        <div class="sidebar__navigation">
            <div class="sidebar__close">
                <button class="sidebar__close--button" id="close-button">
                    <img src="app/build/assets/icons/icon-close.svg" alt="Close button">
                </button>
            </div>
        </div>

        <div class="sidebar__timelist" id="app-list">

            <div class="sidebar__timeGroup">
                <h4 class="sidebar__heading">🔥 Best</h4>
                <div class="sidebar__timeInfo">
                    <template v-if="bestSolvedTimeReactive == Infinity">
                        <p class="solved-time">00.00 <span>sec</span></p>
                        <p>Today</p>
                    </template>
                    <template v-else>
                        <p class="solved-time">{{ bestSolvedTimeReactive }} <span>sec</span></p>
                        <p>
                            <template v-if="currentDateToday == bestSolvedDateReactive">
                                Today
                            </template>

                            <template v-else>
                                {{ bestSolvedDateReactive }}
                            </template>
                        </p>
                    </template>
                </div>
            </div>

            <div class="sidebar__timeGroup">
                <h4 class="sidebar__heading">😵 Worst</h4>
                <div class="sidebar__timeInfo">
                    <template v-if="worstSolvedTimeReactive != -Infinity">
                        <p class="solved-time">{{ worstSolvedTimeReactive }} <span>sec</span></p>
                        <p>
                            <template v-if="currentDateToday == worstSolvedDateReactive">
                                Today
                            </template>

                            <template v-else>
                                {{ worstSolvedDateReactive }}
                            </template>
                        </p>
                    </template>

                    <template v-else>
                        <p class="solved-time">00.00 <span>sec</span></p>
                        <p>Today</p>
                    </template>
                </div>
            </div>

            <div class="sidebar__timeGroup">
                <h4 class="sidebar__heading">⛅ Today <span>({{ getTimeListCountToday() }})</span> </h4>

                <template v-for="list in reverseTodayProperty.slice(0, todayListCount)">
                    <template v-if="list.date === currentDateToday">

                        <div class="sidebar__timeInfo">
                            <p class="solved-time">{{ list.time }} <span>sec</span></p>
                            <p>Today</p>
                        </div>
                    </template>
                </template>

                <div class="sidebar__timeInfo" v-if="getTimeListCountToday() > 5">
                    <template v-if="getTimeListCountToday() > todayListCount">
                        <button class="view-more" @click="todayListCount += 5">View More</button>
                    </template>

                    <template v-else>
                        <button class="view-more" @click="todayListCount = 5">View less</button>
                    </template>
                </div>
            </div>

            <div class="sidebar__timeGroup">
                <h4 class="sidebar__heading">📆 Past <span>({{ timeListFromStorage.length }})</span> </h4>
                <template v-for="list in reverseTodayProperty.slice(0, pastListCount)">
                    <div class="sidebar__timeInfo">
                        <p class="solved-time">{{ list.time }} <span>sec</span></p>
                        <p>{{list.date}}</p>
                    </div>
                </template>

                <div class="sidebar__timeInfo" v-if="timeListFromStorage.length >= 6">
                    <template v-if="timeListFromStorage.length > pastListCount">
                        <button class="view-more" @click="pastListCount += 5"> View More</button>
                    </template>

                    <template v-else>
                        <button class="view-more" @click="pastListCount = 5"> View less</button>
                    </template>
                </div>
            </div>

        </div>

        <div class="sidebar__reset" id="app-reset">
            <h2>🗑️ Reset time list</h2>
            <p>Clearing your browser cache or uninstalling browser will wipe your time list. Once you reset your time
                list, it cannot be undone.</p>
            <p>To reset your time list, please type <b>{{resetCodeGenerated}}</b> below to reset.</p>
            <input type="text" placeholder="rick-and-morty" id="reset-code" v-model="resetCode" class="reset-input">
            <button type="button" class="reset-button" :disabled="resetCodeGenerated !== resetCode"
                @click="resetMyList">Reset my list</button>
        </div>

        <div class="sidebar__footer">
            <p>Made with ☕ by <a href="https://fb.me/heychrono" target="_blank" rel="noopener noreferrer">Justin
                    Pacual</a>—<a href="https://github.com/heychrono/Chronobiks" target="_blank"
                    rel="noopener noreferrer">Chronobiks v1</a> | September 2021 <a href="../LICENSE.md" target="_blank"
                    rel="noopener noreferrer">MIT License</a></p>
        </div>
    </div>

    <section class="timer__trigger">
        <div class="timer">
            <h1 id="timer">
                <span id="seconds">00</span>
                <span>:</span>
                <span id="milliseconds">00</span>
            </h1>

            <div class="timer-guide">
                <p id="message-guide">Hold space or touch and hold anywhere to run the timer.</p>
            </div>
        </div>
    </section>

    <div class="timer__newest">
        <div class="timer__group" id="app-newest">
            <h4 class="sidebar__heading">✨ Newest</h4>

            <div class="sidebar__timeInfo">
                <template v-if="timeListFromStorage === 'false'">
                    <p class="solved-time">Hi, welcome to chronobiks! 🎉</p>
                    <p>Today</p>
                </template>

                <template v-else>
                    <p class="solved-time">{{newestTime}} <span>sec</span></p>
                    <p>
                        <template v-if="currentDateToday == newestDate">Today</template>
                        <template v-else>{{ newestDate }}</template>
                    </p>
                </template>
            </div>
        </div>

        <div class="social-media">
            <p>Chronobiks v1</p>
            <a href="http://facebook.com/heychrono" target="_blank" rel="noopener noreferrer"><img
                    src="app/build/assets/icons/icon-facebook.svg" alt="facebook icon"></a>
            <a href="http://github.com/heychrono" target="_blank" rel="noopener noreferrer"><img
                    src="app/build/assets/icons/icon-github.svg" alt="github icon"></a>
            <a href="http://twitter.com/heychronoo" target="_blank" rel="noopener noreferrer"><img
                    src="app/build/assets/icons/icon-twitter.svg" alt="twitter icon"></a>
            <a href="http://instagram.com/heychrono" target="_blank" rel="noopener noreferrer"><img
                    src="app/build/assets/icons/icon-instagram.svg" alt="instagram icon"></a>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js" defer></script>
<script src="app/build/script/timer.min.js" defer></script>
<script src="app/build/script/sidebar.min.js" async></script>
<script src="app/build/script/modal.min.js"></script>
<script defer>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2580734,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</html>